{% load vet_icons %}
<div class="mobile-menu" id="mobile-menu" hidden>
  <div class="mobile-menu__backdrop" data-menu-close tabindex="-1" aria-hidden="true"></div>
  <nav class="mobile-menu__panel" aria-label="Мобільне меню">
    <div class="mobile-menu__head">
      <div class="mobile-menu__brand">
        <span class="mobile-menu__eyebrow">{{ site.clinic_name_line1 }}</span>
        <span class="mobile-menu__title" title="{{ site.clinic_name_line1|capfirst }}">{{ site.clinic_name_line2 }}</span>
      </div>
      <button type="button" class="icon-btn mobile-menu__close" data-menu-close aria-label="Закрити меню">
        {% icon 'arrow-left' 18 %}
      </button>
    </div>

    <p class="mobile-menu__label">Навігація</p>

    <ul class="mobile-menu__list mobile-menu__list--count-{{ site_nav_primary|length }}">
      {% for item in site_nav_primary %}
      <li>
        <a
          href="{% url item.url_name %}"
          class="mobile-menu__link{% if active_nav == item.nav_id %} is-active{% endif %}"
          data-menu-close
          {% if active_nav == item.nav_id %}aria-current="page"{% endif %}
        >
          <span class="mobile-menu__link-ico">{% icon item.icon 20 %}</span>
          <span class="mobile-menu__link-text">{{ item.label }}</span>
        </a>
      </li>
      {% endfor %}
    </ul>

    <div class="mobile-menu__footer">
      <a href="tel:{{ site.phone_primary }}" class="mobile-menu__phone" data-menu-close>
        <span class="mobile-menu__phone-ico">{% icon 'phone' 18 %}</span>
        <span class="mobile-menu__phone-text">{{ site.phone_primary|format_phone }}</span>
      </a>
      <a href="{% url 'bookings:booking' %}" class="btn btn-primary btn-lg btn-block mobile-menu__cta" data-menu-close>
        Записатись {% icon 'arrow-right' 16 %}
      </a>
    </div>
  </nav>
</div>
