{% extends "admin/base.html" %}
{% load i18n static vet_static %}

{% block branding %}
    {{ site_header|default:_('Django administration') }}
{% endblock %}

{% block nav-global %}{% endblock %}

{% block content %}
{% include "admin/partials/layout_warning.html" %}
{{ block.super }}
{% endblock %}

{% block extrastyle %}
{{ block.super }}
<link rel="icon" href="{% static_v 'images/favicon.ico' %}" sizes="any">
<link rel="icon" type="image/png" sizes="32x32" href="{% static_v 'images/favicon-32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static_v 'images/favicon-16.png' %}">
<link rel="apple-touch-icon" sizes="180x180" href="{% static_v 'images/apple-touch-icon.png' %}">
{% endblock %}

{% block extrahead %}
{{ block.super }}
<script>
(function () {
  try {
    if (localStorage.getItem('_x_adminTheme') === null) {
      localStorage.setItem('_x_adminTheme', JSON.stringify('light'));
    }
  } catch (e) {}
})();
</script>
{% endblock %}
