#content .flex-row > .border,
#content .flex-row > [class*='border-base'] {
  color: rgb(var(--color-base-100) / 1);
  background-color: rgb(var(--color-base-900) / 1);
  border-color: rgb(var(--color-base-700) / 1);
}

#content .group .leading-relaxed {
  color: rgb(var(--color-base-400) / 1);
}
